<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beela.beela">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.example.barcodelibrary.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CriarContaP1Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CriarContaP2Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PrincipalActivity" />
        <activity android:name=".Activity.CriarPerfilActivity" />
        <activity android:name=".Activity.VisualizarPerfilActivity" />
        <activity android:name=".Activity.CategoriaMusicaActivity" />
        <activity android:name=".Activity.CategoriaComidaActivity" />
        <activity android:name=".Activity.CategoriaEsporteActivity" />
        <activity android:name=".Activity.CategoriaLugarActivity" />
        <activity android:name=".Activity.GerenciarInteressesActivity" />
        <activity android:name=".Activity.AmigosActivity" />
        <activity android:name=".Activity.AmigoDetalhesActivity" />
        <activity android:name=".Lugar.lugarTeste" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDheLyJyZoZjZdIv4faOM_hvPfutuaHxLs" />

        <activity android:name=".Activity.LugaresGoogleActivity" />
        <activity android:name=".Activity.TesteJson" />
        <activity android:name=".Activity.GerenciarAmigos2Activity" />
        <activity android:name=".Activity.PesquisaActivity" />
        <activity android:name=".Activity.ConvitesActivity" />
        <activity android:name=".Activity.GruposActivity" />
        <activity android:name=".Activity.CriarGrupoActivity" />
        <activity android:name=".Activity.ListaDeAmigosActivity" />
        <activity android:name=".Activity.CriarGrupoP2Activity" />
        <activity android:name=".Activity.GerenciarGruposActivity" />
        <activity android:name=".Activity.GrupoDetalhesActivity" />
        <activity android:name=".Activity.JsonTesteLugaresAct" />
        <activity android:name=".Activity.LugarActivity" />
        <activity android:name=".Activity.SlopeCletoTeste" />
        <activity android:name=".Activity.LugarDetalhesActivity" />
        <activity android:name=".Activity.historicoActivity" />
        <activity android:name=".Activity.EasterEgg" />
    </application>

</manifest>